<div class="bg-orange-50/40 rounded-lg shadow-sm hover:shadow-md transition-all duration-300">
  <div class="flex flex-row h-full">
    <!-- Zone d'illustration à gauche -->

    <!-- Contenu du service -->
    <div class="w-full p-6">
      <h3 class="text-2xl font-bold mb-4 text-emerald-800">
        <%= service.name %>
      </h3>

      <p class="text-lg text-gray-700 mb-4 leading-relaxed whitespace-pre-line">
        <%= service.description.gsub(',', ",\n") %>
      </p>

      <div class="flex flex-wrap gap-2 mb-4">
        <% service.key_features.each do |feature| %>
          <span class="inline-flex items-center px-3 py-1.5 rounded-lg text-base font-bold text-emerald-700">
            • <%= feature %>
          </span>
        <% end %>
      </div>

      <div class="flex items-center justify-end mt-6">
        <%= link_to service_path(service), 
            class: 'inline-flex items-center px-5 py-2.5 text-base font-semibold text-emerald-700 hover:text-emerald-900 transition-colors duration-200' do %>
          <span>Detaylı Bilgi</span>
          <svg class="w-5 h-5 ml-2 group-hover:translate-x-1 transition-transform" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
          </svg>
        <% end %>
      </div>
    </div>
  </div>
</div> 