<div 
  class="fixed top-4 right-4 z-50 
    <%= type == 'success' ? 'bg-green-500' : 'bg-red-500' %> 
    text-white px-4 py-2 rounded shadow-lg"
  data-controller="toast"
  data-toast-duration="3000"
>
  <%= message %>
</div> 