<%= turbo_frame_tag "waves", class: "absolute inset-0 w-full h-full overflow-hidden" do %>
  <div class="absolute inset-0 w-full h-full" 
       data-controller="water-effect"
       data-water-effect-target="container">
    <div class="absolute bottom-0 w-full h-32 bg-gradient-to-t from-[#0A192F]/40 to-transparent"></div>
    <div class="absolute bottom-0 w-full"
         data-water-effect-target="wavesContainer">
    </div>
  </div>
<% end %> 