/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* Animations pour la modale */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-10%); }
  to { transform: translateY(0); }
}

.modal-enter {
  animation: fadeIn 0.3s ease-out, slideIn 0.3s ease-out;
}

/* Styles pour le slider dans la modale */
.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Styles pour les boutons de navigation */
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1.5rem;
  border-radius: 50%;
  backdrop-filter: blur(4px);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.25rem !important;
}

/* Styles pour la pagination */
.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
